TrabajoVS-20250516T131652Z-1-001/TrabajoVS/3tri_LM/XSD/19_inventario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="info">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="precio" type="xs:float"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer"/>
    </xs:complexType>

    <xs:complexType name="info_detallado">
        <xs:complexContent>
            <xs:extension base="info">
                <xs:sequence>
                    <xs:element name="marca" type="xs:string"/>
                    <xs:element name="modelo" type="xs:string"/>
                    <xs:element name="garantia" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="inventario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="producto" type="info_detallado"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>