TrabajoVS-20250516T131652Z-1-001/TrabajoVS/3tri_LM/XSD/23_receta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="receta">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element name="ingrediente" type="xs:string" maxOccurs="unbounded"/>
                <xs:element name="paso" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>