TrabajoVS-20250516T131652Z-1-001/TrabajoVS/3tri_LM/XSD/25_articulo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="articulos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="articulo" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:integer"/>
                        <xs:attribute name="categoria">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="libro"/>
                                <xs:enumeration value="cd"/>
                                <xs:enumeration value="dvd"/>
                            </xs:restriction>
                        </xs:simpleType>
                       </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>