TrabajoVS-20250516T131652Z-1-001/TrabajoVS/3tri_LM/XSD/28_documento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="documento">
        <xs:complexType>
            <xs:choice>
                <xs:element name="texto" type="xs:string"/>
                <xs:element name="imagen" type="xs:string"/>
            </xs:choice>
            <xs:attribute name="tipo">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="reporte"/>
                        <xs:enumeration value="informe"/>
                        <xs:enumeration value="resumen"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>