TrabajoVS-20250516T131652Z-1-001/TrabajoVS/3tri_LM/XSD/29_articuloCientifico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="articulo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo" type="xs:string"/>
                <xs:element name="autor" type="xs:string"/>
                <xs:element name="fecha" type="xs:date"/>
                <xs:element name="palabras_clave" minOccurs="0" maxOccurs="5"/>
            </xs:sequence>
            <xs:attribute name="doi" type="xs:string"/>

        </xs:complexType>
    </xs:element>
</xs:schema>