TrabajoVS-20250516T131652Z-1-001/TrabajoVS/3tri_LM/XSD/31_productos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:group name="datosProductos">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="precio" type="xs:decimal"/>
            <xs:element name="especificaciones" >
                <xs:complexType>
                    <xs:group ref="datosSpecs"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <xs:group name="datosSpecs">
        <xs:sequence>
            <xs:element name="pantalla" type="xs:string"/>
            <xs:element name="bateria" type="xs:string"/>
        </xs:sequence>
    </xs:group>

    <xs:attributeGroup name="atrProducto">
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="categoria" type="xs:string"/>
    </xs:attributeGroup>

    <xs:element name="productos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="producto" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="datosProductos"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="atrProducto"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>