TrabajoVS-20250516T131652Z-1-001/TrabajoVS/3tri_LM/XSD/5_productos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="productos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="producto" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string" />
                            <xs:element name="precio" type="xs:decimal" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:integer" />
                        <xs:attribute name="categoria" type="xs:string" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>