TrabajoVS-20250516T131652Z-1-001/TrabajoVS/3tri_LM/XSD/6_configuracion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="configuracion">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sensor" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="tipo" type="xs:string" fixed="Sensor"/>
                        <xs:attribute name="activo" type="xs:boolean"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>